* {
  box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    height: 300px;
    padding: 50px;
}

ul.a {
    list-style-position: outside;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: darkblue;
}
