body {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px; 16px;
  color: white;
  text-align: center;
  text-decoration: none;  
}

/* Change the link color #111 */
}

li a:hover {
  background-color: #111;  
}

.footer {
    position: fixed;
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: .79rem;
}
 }
