.h1 {
   font-family: arial; black;
}
.synopse {
    background-color: #FF69B4;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px
}
.footer {
   font-family: arial; black;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   text-align: center;
}
